body{
    margin: 0;
    background-color: rgb(27, 32, 34);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Fira Code', monospace;

}

.title-bar{
    height: 30px;
    width: 100%;
    background-color: #5b92b3c4;
    -webkit-app-region: drag;  
    user-select: all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-bar IMG{
    margin-left: 10px;
    height: 75%;
    width: auto;
    align-items: center;
    justify-content: flex-start;
}
.title-bar p{
    color: rgb(218, 217, 217);
    margin-left: 10px;
    margin-top: 13px;

}
.title-bar .document-name{
    margin-left: 80%;
    margin-right: 10px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
  }

.menu-section button{
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-app-region: no-drag;
}

.minimize{
    margin-left: 25px;
    margin-bottom: 5px;
}
.exit{
    margin-top: 5px;
    position: absolute;
    
}


main{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

main .input-area{
    width: 75%;
    height: 99%;
    background-color: transparent;
    color: white;
    outline: none;
    resize: none;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Fira Code', monospace;
    font-size: small;
}

main .output-area{
    display: inline-block;
    width: 75%;
    height: 99%;
    background-color: transparent;
    color: white;
    outline: none;
    resize: none;
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Fira Code', monospace;
    font-size: small;
}

main .compiler{
    display: flex;
    flex-direction: column;
    border-right: 1px;
    border-color: white;
}

main .compiler button{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(95, 172, 95);
    margin-left: 10px;
    margin-right: 10PX;
    padding-top: 10px;
}

textarea::-webkit-scrollbar {
    width: 0.65em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(91, 146, 179, 0.767);
  outline: none;
  border-radius: 5px;
}


body::-webkit-scrollbar {
    width: 0.65em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(91, 146, 179, 0.767);
  outline: none;
  border-radius: 0px;
}

.highlight {
	color: rgb(39, 75, 153);
}
